.behaviorControl {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.behaviorControl__title {
    font-size: 16px;
}

.behaviorControl__tooltip {
    position: relative;
    width: 20px;
    height: 20px;
}

.behaviorControl__tooltip img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

[tooltip-text] {
    position: relative;
    cursor: help;
}
[tooltip-text]::after {
    content: attr(tooltip-text);

    width: 250px;
    padding: 10px;

    position: absolute;
    left: -270px;

    background-color: rgba(255, 255, 255, 0.9);
    font-size: 16px;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s;
}
[tooltip-text]:hover::after {
    opacity: 1;
}

.behaviorControl__label {
    margin-left: auto;

    height: 22px;
    width: 40px;

    display: inline-block;
    position: relative;
}

.behaviorControl__label input {
    display: none;
}

.behaviorControl__slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    cursor: pointer;
    border-radius: 22px;
    background-color: #ccc;
    transition: 0.4s;
}

.behaviorControl__slider:before {
    content: '';
    width: 16px;
    height: 16px;

    position: absolute;
    bottom: 3px;
    left: 3px;

    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s;
}

.behaviorControl__label input:checked + .behaviorControl__slider {
    background-color: #007afce6;
}

.behaviorControl__label input:checked + .behaviorControl__slider:before {
    transform: translateX(18px);
}
